<div style="height:400px" >
    <div style="background-color:blue; margin-top:20px; margin-left:20px; color:white; width:100px; height:100px; float:left; position: absolute; z-index:1;">
        <p align="center">
            $dayNumber<br>
            $month<br>
            $dayName<br>
            $year
        </p>
    </div>
    <br>
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
    <hr size="1" width="90%" color="silver" style="margin-top:20px">
</div>
<hr>